.menu{
    height: 100vh;
    width: 80vw;
    background-color: darkslateblue;
    background-size: cover;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 100;
}

.menu-button{
    display: inline;
    cursor: pointer;
    color: black;
}

.menu-button i.material-icons{
    font-size: 2rem;
    top: 0px;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 2;
}

.fade-layer.visible{
    display: block;
}

.menu ul  {
    font-size: 25px;
    list-style: none;
    
}

.menu ul li{
    margin-bottom: 30px;
}

.menu a{
    color: white;
    text-decoration: none;
    
}



.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px auto 100px;
    grid-gap: 10px;
    grid-template-areas:
    "header header header header header"
    "main main main main main"
    "footer footer footer footer footer" 
}
.header{
    grid-area: header;
    background-image: url("../site/png/mobilheader.jpg");
    background-size: cover;
}



main{
    grid-area: main;
    background-color: navajowhite;
}

.footer{
    grid-area: footer;
    background-color: aqua;
}
