/* Mobil */
@media only screen and (min-width : 1px){
    body{
        margin: 0;
        background-color:white;
    }

    #bold{
        font-weight: bold;
        margin: 10px;
    }

    #stycke{
        margin: 20px;
    }

    ul{
        list-style: none;
    }

    h2{
        margin: 0;
        font-size: 30px;
    }
    
    h3{
        font-size: 30px;
        color: white;
    }
    
    p{
        margin: 0;
    }
    
    h4{
        margin: 0;
    }
    
    h5{
        font-size: 25px;
        color: black;
    }

    h6{
        font-size: 15px;
        margin: 0;
    }

    input{
        font-size: 25px;
    }

    #desktopmenu{
        visibility: hidden;
    }
    
    .menu{
        height: 100vh;
        width: 80vw;
        background-color: darkslateblue;
        background-size: cover;
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 100;
    }
    
    .menu-button{
        display: inline;
        cursor: pointer;
        color: black;
    }
    
    .menu-button i.material-icons{
        font-size: 2rem;
        top: 0px;
    }
    
    .show{
        left: 0;
    }
    
    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 2;
    }
    
    .fade-layer.visible{
        display: block;
    }
    
    .menu ul  {
        font-size: 25px;
    }
    
    .menu ul li{
        margin-bottom: 50px;
    }
    
    .menu a{
        color: white;
        text-decoration: none;
        
    }
    
    
    
    .wrapper{
        display: grid;
        grid-template-rows: 150px auto 150px;
        grid-gap: 25px; 
        grid-template-areas:
        "header"
        "main"
        "footer" 
    }

    .wrapper2{
        display: grid;
        grid-template-rows: 150px 1400px 150px;
        grid-gap: 25px; 
        grid-template-areas:
        "header"
        "main2"
        "footer" 
    }


    .wrapper3{
        background-color: gray;
        display: grid;
        grid-template-rows: 150px 501px 150px;
        grid-gap: 25px;
        grid-template-areas:
        "header"
        "main3"
        "footer" 
    }
    .header{
        grid-area: header;
        background-image: url("../png/mobilheader.jpg");
        background-size: cover;
        border: 5px solid black;
    }
    
    .nyhet1{
        background-image: url("../png/obamanyhetmobil.jpg");
    }

    .button{
        display: flex;
        width: 170px;
        height: 55px;
        background-color: green;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    #loggain{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;
    }

    #skapakonto{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 23px;
    }
    .button2{
        display: flex;
        width: 160px;
        height: 40px;
        background-color: aqua;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 10px;
    }

    .signin{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #premium{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: yellow;
        font-size: 20px;
    }

    .email{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .password{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .premiumbox{
        background-color: red;
        height: 45px;
        width: 165px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center; 
    }


    
    
    .nyhet2{
        background-image: url("../png/abelnyhetmobil.jpg");
    }
    
    .nyhet3{
        background-image: url("../png/davidnyhetmobil.jpg");
    }
    
 
    
    
    
    main{
        display: grid;
        grid-area: main;
        background-color: white;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 200px 200px 250px 200px 250px;
        grid-gap: 25px;
        grid-template-areas:         
        "nyhet1 nyhet1 nyhet1 nyhet1 nyhet1"
        "nyhet2 nyhet2 nyhet2 nyhet2 nyhet2 "
        "annonsmobil annonsmobil annonsmobil annonsmobil annonsmobil "
        "nyhet3 nyhet3 nyhet3 nyhet3 nyhet3 "
        "annonsmobil2 annonsmobil2 annonsmobil2 annonsmobil2 annonsmobil2"; 
    }

    main2{
    grid-area: main2;    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1100px;
    grid-gap: 10px;
    grid-template-areas: 
    "bild"
    "text" 
    }

    main3{
        display: grid;
        grid-area: main3;
        grid-template-columns: 1fr;
        grid-template-rows: 167px 167px 167px;
        grid-gap: 10px;
        grid-template-areas: 
        "email"
        "password"
        "signin"
    }
    
.abelbildmobil{
    box-sizing: border-box;
    height: 300px;
    width: 375px;
    border: 2px solid red;
    grid-area: bild;
    background-image: url("../png/nyhetbildmobil.jpg")
}
    }
    
    .footer{
        grid-area: footer;
        background-color: lightgray;
        border: 0.5px solid black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footertextcontainer{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    
    .textbox{
        background-color: rgba(0,0,0,0.5)
    }
    
    .textbox h3{
        margin: 0;
        color: white;
    }
    
    .nyhet1{
        grid-area: nyhet1; 
        background-color: lightgray;
        
    } 

    .sportnyhet1{
        grid-area: nyhet1; 
        background-image: url("../png/basketnyhetmobil.jpg");
        
    }
    
    
    .nyhet2{
        grid-area: nyhet2;
        background-color: lightgray;
    }
    
    
    .sportnyhet2{
        grid-area: nyhet2; 
        background-image: url("../png/andrenyhetmobil.jpg");
    }
    
    .annonsmobil {
        grid-area: annonsmobil;
        background-color: lightyellow;
        color: blue;
        border: 0.5px solid black;
    }
    .bildertillannons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    
    .annonsmobil2{
        background-image: url("../png/premiumannonsmobil.jpg");
        color: blue;
        border: 1px solid red;

    }
    
    
    #majstroja{
        background-image: url("../png/majstrojamobil.jpg");
    }
    
    #markusmossa{
        background-image: url("../png/markusmossamobil.jpg");
    }
    
    #markustroja{
        background-image: url("../png/markustrojamobil.jpg"); 
    }
    
    .nyhet3{
        grid-area: nyhet3;
    } 

    .sportnyhet3{
        grid-area: nyhet3;
        background-image: url("../png/idanyhetmobil.jpg");
        } 
    
    .bg{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border: 1px solid black;
    }
    
    .annonsmobil2{
        grid-area: annonsmobil2; 
    } 
    
    .reklambildmobil{
        border: 0.5px solid black;
        height: 100px;
        width: 100px;
        margin: 10px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
    }
    

    
    
    /* /* Desktop */
    @media only screen and (min-width : 650px){
        #desktopmenu{
            visibility: visible;
            list-style-type: none;
            margin: auto;
            padding: 0;
            overflow: hidden;
            background-color: #333;


            
          }
          
          #desktopmenu li {
            float: left;
          }
          
          #desktopmenu li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }
          
        
        h4{
            font-size: 25px;
        }
        
    h2{
        margin: 0;
        font-size: 30px;
    }
        
        .menu-button{
            display: none;
        }
        
        .wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 250px 1320px 200px;
            grid-gap: 25px; 
            grid-template-areas:
            "header header header header header"
            "main main main main main"
            "footer footer footer footer footer";
        }
        
        .header{
            background-image: url("../png/desktopheader.jpg");
        }
        
        main{
            grid-template-rows: 300px 300px 350px 300px;
            grid-gap: 25px;
            grid-template-areas: 
            ". annonsmobil2 annonsmobil2 annonsmobil2 ." 
            "nyhet1 nyhet1 nyhet1 nyhet1 nyhet1"
            "nyhet2 nyhet2 nyhet2 nyhet2 annonsmobil "
            "nyhet3 nyhet3 nyhet3 nyhet3 annonsmobil ";
        }
        
        
        .reklambildmobil{
            height: 200px;
            width: 200px;
        }
        
        #markustroja{
            background-image: url("../png/markustrojakundvagn.jpg");
        }
        
        #markusmossa{
            background-image: url("../png/markusmossakundvagn.jpg");
        }
        
        #majstroja{
            background-image: url("../png/majstrojakundvagn.jpg");
        }
        
        .nyhet1{
            background-image: url("../png/obamanyhetdesktop.jpg");
            
        }

        .sportnyhet1{
            background-image: url("../png/basketnyhetdesktop.jpg");
        }
        
        .nyhet2{
            background-image: url("../png/abelnyhetdesktop.jpg");
        }

        .sportnyhet2{
            background-image: url("../png/andrenyhetdesktop.jpg");
        }
        
        .nyhet3{
            background-image: url("../png/davidnyhetdesktop.jpg");
        }

        .sportnyhet3{
            background-image: url("../png/idanyhetdesktop.jpg");
        }

    
        
        
        
        .bildertillannons{
            flex-direction: column;
        }
       
        
        .bildtillannons2{
            background-image: url("../png/annonsdator.jpg");
            background-size: cover;
        }
        
        @keyframes blink { 50% { border-color: #ff0000; }  }
        
        .annonsmobil2{
            background-image: url("../png/premiumannonsdesktop.jpg");
            border: 6px solid blue;
            animation: blink .5s step-end infinite alternate; 
        }
        .premiumbox{
            height: 80px;
            width: 300px;
        }
        .wrapper2{
            grid-template-rows: 250px 800px 150px; 
        }

        .wrapper3{
            grid-template-rows: 250px 540px 150px; 

        }
        
        
        main2{
            grid-template-rows: 300px 500px; 
            }

            
            
            .abelbildmobil{
                box-sizing: border-box;
                height: 300px;
                width: 1252px;
                border: 2px solid red;
                grid-area: bild;
                background-repeat: no-repeat;
                background-image: url("../png/nyhetbilddesktop.jpg")
            }

     

    }
    


